a {
    color: #09C;
    text-decoration: none;
}
a:focus, a:hover {
    color: #006080;
    text-decoration: none;
}

.site-header.hstream-validate-header .branding {
    display: table;
}

.site-header.hstream-validate-header .branding>div {
    display: table-cell;
}

.site-header.hstream-validate-header .branding .logo {
    display: table;
    padding-left: 10px;
}

.site-header.hstream-validate-header .branding .logo-large {
    width: 350px !important;
}

.site-header.hstream-validate-header .branding .logo-text {
    display: table-cell;
    font-size: 28px;
    padding-bottom: 10px;
    margin-left: 15px;
    vertical-align: bottom;
    color: #000;
}

.site-header.hstream-validate-header .branding .logo-text span {
    border-left: 1px solid black;
    padding-left: 10px;
    margin-left: 12px;
}

.site-header.hstream-validate-header .branding .hstream-brand {
    font-size: 28px;
    padding-bottom: 10px;
    margin-left: 15px;
    vertical-align: bottom;
    color: #000;
}

.site-header.hstream-validate-header .branding .hstream-brand>span {
    border-left: 1px solid black;
    padding-left: 10px;
    margin-left: 12px;
}

.layout.hstream-validate {
    border-top: 5px solid #007aa3;
}

.layout.hstream-validate .container {
    padding: 15px 30px;
}

.panel {}

.alert-header {
    color: #858993;
    border-bottom: 1px solid #D8D8D8;
    position: relative;
    height:55px;
}

.alert-header .alert-title {
    font-size: 21px;
    font-weight: 500;
    padding-top:5px;
    position: absolute;
    left:0;
    top:0;
}

.alert-header .alert-count {
    position: relative;
    width: 150px;
    height: 50px;
    position: absolute;
    right:0;
    top:0;
}

.alert-count .alert-value {
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    right: 5px;
    top: -10px;
}

.alert-count .alert-type {
    font-size: 11px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}



.flags {
    display: table;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    margin: 10px 15px 10px 5px;
    width: 100%;
    padding-right: 10px;
}

.flags .flag {
    display: table-row;
}

.flags .flag div {
    display: table-cell;
}

.flags .flag.red-flag {
    color: #CA5B54;
}

.flags .flag.orange-flag {
    color: #f3ca06;
}

.flags .flag.yellow-flag {
    color: #9B9B9B;
}

.flags .flag .value {
    text-align: right;
}



.help-hover {
    font-size: 12px;
}

.tooltip-container .help-item{
    margin:15px 10px 10px 15px ;
}
.tooltip-container .help-item .help-value{
    font-weight:600;
}
.tooltip-content {
    display:none;
}
/*.panel a:hover  {
    background-color: #eee;
    border: 1px solid #ddd;
    transition: background-color .2s ease-in-out;
}*/
a .panel-primary:hover  {
    background-color: #eee !important;
    /*border: 1px solid #ddd;*/
    /*transition: background-color .2s ease-in-out;*/
}
@media (max-width: 991px)
{
    .site-header .branding img {
        max-height: 44px;
        max-width: 100px;
    }
    .site-header .branding .logo-text {
        font-size:18px !important;
        padding-top:13px;
                }
}


/*
***
hStream Validate Details Page 
***
*/

.validate-head {
    height: 125px;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0 0 5px;
    position:relative;
    margin-bottom:20px;
}
.validate-head .validate-head-title {
    font-weight: 300; 
    font-size:32px;
    padding:15px;
}
.validate-head .validate-head-title a {
    font-weight:normal;
    font-size:14px; 
    display:block;

}

.validate-head  .validate-head-meta-flag {
    font-weight:600;
    color: #9B9B9B;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    display:table;
    position:absolute;
    right:15px;
    top:15px;
}
.validate-head-meta-flag .flag .name {
    text-align:right;
}
.validate-head-meta-flag .flag .value {
    width:45px;
}
.help-hover {
    margin-right:40px;
}

.validate-details-container {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.3) 0 0 5px;
    position:relative;
    padding:15px;
    
}
.validate-details-container h2 {
    margin-top:0px;
}
.validate-table table {
    width: 100%;
    font-size: 12px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.validate-table thead {
    background-color: #ddd;
    color: #333;
    font-size: 10px;
    text-transform: uppercase;
}

.validate-table th {
    padding: 5px;
    vertical-align: middle;
}

.validate-table th.is-sort {
    cursor: pointer;
}

.validate-table>tbody>.odd>td {
    background-color: #f9f9f9;
}

.validate-table>tbody>.even>td {
    background-color: #fff;
}

.validate-table>tbody>.validate-result-row>td {
    border-top: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
}

.validate-table td.table__progress {
    background: url('../images/bg-progress-line.svg') center center repeat-x;
    color: #ccc;
}

.validate-table .result-alerttype {
    max-width: 200px;
}

.validate-table .result-alerttype a {
    font-weight: 600;
}

.validate-table .result-alerttype-id {
    display: none;
    font-size: 11px;
    color: #777;
}

.validate-table .result-alerttype-client {
    display: none;
    font-size: 11px;
    color: #777;
}

.validate-table .result-status {
    text-align: center;
}

.validate-table .result-status span {
    margin: 3px;
}

.validate-table .table__client span {
    display: block;
    color: #555;
}

.validate-table .table__progress {
    text-align: center;
}

.validate-table thead .result-date {
    text-align: center;
}
.validate-table tbody .result-date {
    font-size:12px; 
    font-weight:600;
    text-align:center;
}

.validate-table .table__bubble {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 10px;
    color: #333;
}

.validate-table .result-actions {
    text-align: right;
    width: 105px;
}

.validate-table .result-actions .btn-group {
    white-space: nowrap;
}

.validate-table .table__loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5) url('../images/loading.svg') center center no-repeat;
}

.validate-table .status-pill {
    padding: 4px 7px;
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.validate-table.is-updating .table__loading {
    display: block;
}

.status-pill {
    display: inline-block;
    padding: 5px 8px;
    border-radius: 15px;
    color: #777;
    white-space: nowrap;
    border: 1px solid #999;
}

.status-pill__label {
    display: inline-block;
}

.status-pill__icon+.status-pill__label {
    margin-left: 4px;
}

.status-pill--issues {
    background-color: #f0ad4e;
    color: #fff;
    border-color: transparent;
}

.status-pill--error {
    background-color: #d9534f;
    color: #fff;
    border-color: transparent;
}

.status-pill--complete {
    background-color: #5cb85c;
    color: #fff;
    border-color: transparent;
}
.table__status {
    text-align:center;
}
.validate-detail-table-wrapper {
    padding:15px 10px;
    border-left: solid #ddd 1px;
    border-right: solid #ddd 1px;
    margin-left:60px;
    width:1000px;
}
table.table.validate-table > tbody > tr.validate-detail-row td {
    padding:0px;
}
table.validate-detail-table {
    margin-top:0px;
    margin-bottom:0px;
    border:none;
    font-size:14px;
    width:100%;
}

table.validate-detail-table td {
    padding:2px 5px !important; 
    vertical-align: top;
}

table.validate-detail-table td.detail-label {
    text-align:right;
    color:#999;
    width:150px;
}
table.validate-detail-table td.detail-value {
    text-align: left;
    color: #555;
    padding-left:10px !important;
}
table.validate-detail-table td.detail-value.highlight-value {
    color: #555;
    font-weight:600;
}
tr.validate-detail-row.hidden td {
    border:none !important;
}

.forward-link {
    z-index:10000;
    position:relative
}

.site-footer .legal .disclaimer {
    font-size: 12px;
    color: #999;
    margin-top:15px;
}
.panel-body {
    min-height:140px;
}