<!DOCTYPE html>
<html lang="en">

<head>
	
	<!-- Prototype Only Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123918246-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123918246-1');
</script>

	
	<!-- Prototype Only Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PQDDSKZ');</script>
<!-- End Google Tag Manager -->

	<!-- Basic Page Needs
    ================================================== -->

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{title}HealthStream</title>

	<!-- Styles
    ================================================== -->
	<link rel="stylesheet" type="text/css" href="/content/styles/assessrx.bootstrap.css{cache}">
	<link rel="stylesheet" type="text/css" href="/content/styles/assessrx.plugins.css{cache}">
	<link rel="stylesheet" type="text/css" href="/content/styles/assessrx.app.css{cache}">
	<link rel="stylesheet" type="text/css" href="/content/styles/assessrx.prototype.css{cache}">
	<link rel="stylesheet" type="text/css" href="/content/styles/assessrx.icons.css{cache}">



	<!-- Feature Detection Using Modernizr
    ================================================== -->
	<script src="/scripts/modernizr.js"></script>

</head>

<body>

	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQDDSKZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->