<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>{title}HealthStream</title>

    <!-- Styles
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="/content/styles/healthstream.bootstrap.css{cache}">
    <link rel="stylesheet" type="text/css" href="/content/styles/healthstream.plugins.css{cache}">
    <link rel="stylesheet" type="text/css" href="/content/styles/healthstream.app.css{cache}">
    <link rel="stylesheet" type="text/css" href="/content/styles/healthstream.icons.css{cache}">
    <link rel="stylesheet" type="text/css" href="/content/styles/healthstream.prototype.css{cache}">

    <!-- Feature Detection Using Modernizr
    ================================================== -->
    <script src="/scripts/modernizr.js"></script>

</head>
<body>
