<!-- PROTOTYPE ONLY -->
<div class="nav-proto">
	<a href="#modal-proto" data-toggle="modal"><i class="fa fa-sitemap"></i></a>
	<div id="modal-proto" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
					<h4 class="modal-title">Prototype Sitemap</h4>
				</div>
				<div class="modal-body">
					<h5>Path Results Screens</h5>
					<ol>
						<li><a href="/path-results-essentials.php">Essentials </a></li>
						<li><a href="#">Essentials Plus </a></li>
						<li><a href="#">Enterprise Path </a></li>
					</ol>



						<hr>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>
<!-- /PROTOTYPE ONLY -->