<div class="app-launcher-mobile collapse">
       <a href="#" class="trigger-close"><i class="fa fa-times"></i></a>
       <div class="title">More HealthStream Apps</div>
       <div style="">

          <ul class="app-drawer-nav-item">
                           <li class="app-drawer-nav-item">
                                                  <a target="href=&quot;javascript:void(0)&quot;" id="h_stream_validate_menu_item" data-token-url="https://portalclient.echo-cloud.com/services/hstreamValidate/api/GenerateToken" data-hstream-validate-url="https://portalclient.echo-cloud.com/services/hstreamValidate?token=">

                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap">
                                                              <img src="content/images/hstream-validate-logo.png" alt="hStream Validate"  title="hStream Validate" >
                                                          </div>

                                                      </div>
                                                          <h5 class="title">Validate</h5>

                                                     <!--  <div class="app-drawer-nav-item-content">
                                                          <p class="description">Track and manage Conflict of Interest (COI) disclosures</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                                              <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="https://controlcenter-dev.healthstream.com/hstmcf?orgId=8d99b1d7-366a-4403-955c-09b1c919e98c&orgNodeId=adbf6cad-fb4d-4dee-89d4-80ffd0affa4d&application=Student">
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap">
                                                              <img src="content/images/hstream-monitor-logo.png" alt="hStream Monitor" title="hStream Monitor">
                                                          </div>

                                                      </div>
                                                          <h5 class="title">Monitor</h5>

                                                     <!--  <div class="app-drawer-nav-item-content">
                                                          <p class="description">Track and manage Conflict of Interest (COI) disclosures</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                                              <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="/HSAPP/ThirdPartyApplications/COISmart?Area=" >
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap">
                                                              <img src="content/images/coi-logo-9-box.png" alt="COI Smart" title="COI Smart" >
                                                          </div>

                                                      </div>
                                                          <h5 class="title">COI Smart</h5>

                                                     <!--  <div class="app-drawer-nav-item-content">
                                                          <p class="description">Track and manage Conflict of Interest (COI) disclosures</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                                              <!-- <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="hstream.hlc.php">
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap" >
                                                           <img src="content/images/healthstream-logo-100.png " alt="HLC ">
                                                          </div>

                                                      </div>
                                                          <h5 class="title">Learning</h5>

                                                  </a>
                                              </li> -->
                                             <!-- <li class="app-drawer-nav-item">
                                                 <a target="_blank" href="hstream.echo.php">
                                                     <div class="app-drawer-nav-item-logo">
                                                         <div class="svg-icon-wrap">
                                                             <img src="content/images/echo-logo-50x50.png" alt="Echo">
                                                         </div>

                                                     </div>
                                                         <h5 class="title">Credentialing</h5>


                                                 </a>
                                             </li> -->
                                              <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="http://www.healthstream.com/HSAPP/Compensation?Area=">
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap" >
                                                              <img src="content/images/compensation-9-box.png" alt="Compensation" title="Compensation">
                                                          </div>

                                                      </div>
                                                          <h5 class="title">Compensation </h5>

                                                      <!-- <div class="app-drawer-nav-item-content">
                                                          <p class="description">Contains SDKs, Toolkits, &amp; Documentation.</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                                              <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="http://www.healthstream.com/HSAPP/StayInterview?Area=">
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap" >
                                                              <img src="content/images/stay-interview-9-box.png" alt="Stay Interviews" title="Stay Interviews">
                                                          </div>

                                                      </div>
                                                          <h5 class="title">Stay Interviews </h5>

                                                      <!-- <div class="app-drawer-nav-item-content">
                                                          <p class="description">Contains SDKs, Toolkits, &amp; Documentation.</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                                              <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="http://www.healthstream.com/HSAPP/Compensation?Area=">
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap" >
                                                              <img src="content/images/knowledge-portal-9-box.png" alt="HR Knowledge" title="HR Knowledge">
                                                          </div>

                                                      </div>
                                                          <h5 class="title">KnowledgeSource </h5>

                                                      <!-- <div class="app-drawer-nav-item-content">
                                                          <p class="description">Contains SDKs, Toolkits, &amp; Documentation.</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                                              <li class="app-drawer-nav-item">
                                                  <a target="_blank" href="http://www.healthstream.com/HSAPP/TotalRewards?Area=">
                                                      <div class="app-drawer-nav-item-logo">
                                                          <div class="svg-icon-wrap" >
                                                              <img src="content/images/total-rewards-9-box.png" alt="Total Rewards" title="Total Rewards">
                                                          </div>

                                                      </div>
                                                          <h5 class="title">Total Rewards </h5>

                                                      <!-- <div class="app-drawer-nav-item-content">
                                                          <p class="description">Contains SDKs, Toolkits, &amp; Documentation.</p>
                                                      </div> -->
                                                  </a>
                                              </li>
                          <!--   <li class="app-drawer-nav-item">
                                <a target="_blank" href="http://hstm-hlc-student.patternmanager.com/hstream.activity.php">
                                    <div class="app-drawer-nav-item-logo">
                                        <div class="svg-icon-wrap">
                                            <img src="content/images/hstream-activity-logo-50x50.png" style="width:50px;" alt="hStream Activity">
                                        </div>
                                    </div>
                                    <div class="app-drawer-nav-item-content">
                                        <h5 class="title">hStream Activity</h5>
                                        <p class="description">View license consumption and utilization.</p>
                                    </div>
                                </a>
                            </li>
                            <li class="app-drawer-nav-item">
                                <a target="_blank" href="http://www.healthstream.com/collaboratives/providence-collaborative-demo/overview">
                                    <div class="app-drawer-nav-item-logo">
                                        <div class="svg-icon-wrap">
                                            <img src="content/images/hstream-collaborate-logo-50x50.png" style="width:50px;" alt="hStream Collaborate">
                                        </div>
                                    </div>
                                    <div class="app-drawer-nav-item-content">
                                        <h5 class="title">hStream Collaborate</h5>
                                        <p class="description">Streamline product evaluations and leverage purchasing power.</p>
                                    </div>
                                </a>
                            </li> -->
                        </ul>
       </div>

   </div>

<div class="site-header{classes}">

    <div class="container">
        <a href="#" class="trigger-open-app-launcher">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1200" height="15px" width="15px">
             <ellipse class="cls-2" cx="151" cy="153.5" rx="147" ry="149.5" />
             <ellipse class="cls-1" cx="600" cy="153.5" rx="147" ry="149.5" />
             <ellipse class="cls-2" cx="600" cy="599.5" rx="147" ry="149.5" />
             <ellipse class="cls-2" cx="151" cy="600.5" rx="147" ry="149.5" />
             <ellipse class="cls-2" cx="151" cy="1050.5" rx="147" ry="149.5" />
             <ellipse class="cls-1" cx="600" cy="1050.5" rx="147" ry="149.5" />
             <ellipse class="cls-2" cx="1049" cy="1050.5" rx="147" ry="149.5" />
             <ellipse class="cls-2" cx="1049" cy="599.5" rx="147" ry="149.5" />
             <ellipse class="cls-2" cx="1049" cy="153.5" rx="147" ry="149.5" />
         </svg>
            <span>Apps</span>
        </a>
        <a href="#" class="trigger-open trigger-open-header"><i class="fa fa-bars"></i><span>Menu</span></a>
        <div class="branding">
            <a href="/">
                <img src="{logoLarge}" alt="HealthStream" class="logo-large">
                <img src="{logoSmall}" alt="HealthStream" class="logo-small">
            </a>
        </div>
        <nav class="nav-account">
            <div class="name">{userName}</div>
            <div class="avatar">
                <i class="fa fa-user"></i>
                {userImage}
            </div>
            {alerts}
            <div class="institution"><a href="#">{userInstitution}</a></div>
            <div class="logout"><a href="#">Logout</a></div>
            <a href="#" class="trigger-open trigger-open-account"><i class="fa fa-angle-down"></i></a>
            <a href="#" class="trigger-close"><i class="fa fa-times"></i></a>
            <ul class="nav">
                {accountNav}
            </ul>
        </nav><!-- /nav-account -->
    </div><!-- /container -->
    <nav class="nav-main">
        <div class="container">
            <ul id="nav" class="nav">
                {mainNav}
            </ul>
        </div><!-- /container -->
    </nav><!-- /nav-main -->
    <div class="support">
        <h3>Support</h3>
        <p>To talk with a customer service representative call 1-800-521-0574</p>
        <p><a href="#">Send us an email</a></p>
    </div>
</div><!-- /site-header -->