html,
body {
    height: 100%;
    width:100%;
}

.layout-dashboard-manager-chart-newstyle {


    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .chart-wrapper {
        height: 100%;
        width: 100%;
    }

    #people {
        width: 100%;
        height: 100%;
    }

    .get-text {
        // fill: #686868 !important;
        fill: #777!important;
    }

    .myCustomTheme-box {
        fill: #FFFFFF;
        stroke: #999;
    }

    .reporters {
        fill: #0072C6;
    }

    .viewbtn {
        // fill: #eee;
        // stroke: #777;
        // fill: #0072C6; // stroke: #999;
        fill: #28a745;
        cursor: pointer;
    }
    .viewbtn-text {
        fill: #FFFFFF !important;
        // fill: #777 !important;
        cursor: pointer;
        font-size:18px;
    }

    .reporters-text {
        fill: #ffffff;
    }
    .reports-text {
        fill: #000;
        font-size: 1.2em;
    }
    .reports-box {
        fill: #dcdcdc;
        stroke: #999;
    }

    .text-pastdue {
        fill: #fc7b00 !important;
        font-weight: 600;
    }
    .noimage {
        fill: #aaa !important;
    }
    .noimage-text {
        fill: #ffffff;
        font-size: 2.5em;
        letter-spacing: 0px;
        font-family: "Open Sans", sans-serif;
    }

    .chart-container {
        height: 100% !important;
    }

    #people {
        /*width: 75% !important;*/
        /*height: 97% !important;*/
        height: 100% !important;
    }

    .btn {
        font-weight: 400;
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 16px !important;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        color: #333;
        background-color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
        background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        text-shadow: 0 1px 0 #fff;
        border-color: #ccc;
        /*line-height: 1.5;*/
        border-radius: 3px;
        height: 100%;
        width: 100%;
    }


    .get-org-chart .get-left {
        height: 100px;
    }
    .get-org-chart .get-left-icon {
        min-height: 100px;
        height: 100px;
        background-position-y: center;
    }
    .get-org-chart .get-right {
        height: 100px;
    }
    .get-org-chart .get-right-icon {
        min-height: 100px;
        height: 100px;
        background-position-y: center;
    }
    .get-blue.get-org-chart {
        background-color: rgba(243,245,246,.8) !important;
    }
    .mainbox {
      fill:white;
      stroke:#aaa;
      stroke-width:2px;
      stroke-opacity:0.5;
      stroke-linejoin:round;
      stroke-linecap:round;
    }
    .topline {
      stroke:#09C;
      // stroke: #b1b1b1;
      stroke-width:5px;
       /* stroke-linejoin:round; */
       stroke-linecap:round;
    }
    .get-text {
        fill: #777!important;
        font-weight: 400;
    }
    .get-text-0 {
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
            font-weight: 400;
    }
    .get-text-1 {
        font-style:italic;

    }
    .get-org-chart .link {
        stroke: #3894d5 !important;
        stroke-width:1px;
    }
    .circlebg {
        fill: #eee;
        stroke: #ddd;
        stroke-width:1px;
    }
    .circleimg {
        clip-path: circle(40px at 50px 50px);
    }
    .get-blue.get-org-chart .get-oc-tb {
        background-color: #09c;
    }
    .get-org-chart input, .get-org-chart select {
        background-color:#eee;
    }
    .reportsbox {
        fill: #f3f3f3;
        stroke: #ccc;
    }
    .reportsbox-text {
        fill: #777;
        font-size: 19px;
    }
    .exp-col-btn {
        fill: transparent;
        stroke: transparent;
    }
    .get-org-chart .get-up,
    .get-org-chart .get-right,
    .get-org-chart .get-down,
    .get-org-chart .get-left {
        display:none !important;
}
}