#slider{
    position: fixed;
    width: 300px;
    transition: all 300ms ease 0s;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 500;
    overflow: scroll;
}

#trigger{
    background-image: linear-gradient(to bottom,#f4bc33 0,#fbaa19 100%);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    font-size: 1em;
    padding: .3em .8em;
    margin-top: 2em;
    float: left;
}

.side-panel {
    background-color: #fff;
    padding: 10px;
    box-sizing: content-box;
}

.side-panel-left {
    box-shadow: -5px 0 15px -6px #585858 inset;
}

.title{
    font-weight: 700;
    display: inline-block;
}

.times-close{
    font-size: 1.5em;
}

.slider-rec{
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 0.5em;
    margin: .2em 1em;
    text-decoration: none;
    text-transform: uppercase;
    width: 280px;
    height: 90px;
    display: inline-block;
    text-align: left;
    background-image: linear-gradient(to bottom,#f9f9f9 0,#dadada 100%);
}

.slider-rec:hover{
    text-decoration: none;
    background-image: linear-gradient(to bottom,#4db8db 0,#279cc3 100%);
    border-color: #2596bb;
    color: #fff;
}

#slider h3{
    font-size: 18px;
}

#slider h4{
    color: #5cb85c;
    font-weight: 500;
    font-style: italic;
    margin-top: 0px;
}

#slider-cards {
    list-style: none;
    padding-left: 0;
}

.icon-circle{
    color: #09c;
    border: 2px solid #09c;
    border-radius: 50%;
    padding: .3em;
    width: 1.8em;
    text-align: center;
    display: inline-block;
}

.thumbs{
    font-size: 2em;
}

#recFeedback{
     border-bottom: 1px solid #eee;
}

